
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/* common css */
.title{
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
}

.navbar-brand{
  color: #527cec !important;
  font-size: 1.3rem;
  font-family: 'Arvo', serif;
}
.nav-link{
  font-size: 1.1rem;
  font-family: 'Arvo', serif;
}

/* css for home */
#home{
  width: 100%;
  min-height: 100vh;
}
#home #particles-js{
  width:100%;
  height:100vh;
  background:#527cec;
  position: absolute;
  top: 0;left: 0;
}
#home #name{
  margin-top: 16rem;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-family: 'Arvo', serif;
}
#home #tagline{
  margin-top: 1rem;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  font-family: 'Arvo', serif;
}
#home #learn-more{
  margin-top: 1rem;
  border: 2px solid #fff;
  border-radius: 1rem;
  color: #fff;
  font-size: 1rem;
  display: block;
  text-align: center;
  margin:1.2rem auto 0;
  padding: .4rem 1rem;
  max-width: 10rem;
  font-family: 'Arvo', serif;
}
#home #learn-more:hover{
  text-decoration: none;
}

/* css for resume */
#resume{
  background: #f2f2f2;
  padding: 4rem 0;
}
#resume .title{
  font-size: 2rem;
  font-family: 'Arvo', serif;
}
#resume .about{
  font-size: 1rem;
  font-family: 'Arvo', serif;
}
#resume .card{
  margin:0 auto 2rem;
  font-family: 'Arvo', serif;
}
#resume .card img{
  width: 100%;
  max-height: 150px;
}

/* css for portfolio */
#portfolio{
  padding: 4rem 0;
}
#portfolio .title{
  font-size: 2rem;
  font-family: 'Arvo', serif;
}
#portfolio img{
  margin-top: 30px;
  vertical-align: middle;
  width: 100%;
  height: 220px;
}
.grid{
  position: relative;
  width: 100%;
}
.overlay {
  margin-top: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #527cec;
}
.grid:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Arvo', serif;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.blog {
  text-decoration: none;
  color: unset;
  margin-top: 15px;
  margin-bottom: 15px;
}
.blog:hover {
  text-decoration: none;
  color: unset;
}
.blog p:first-child {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
.blog p:last-child {
  margin-bottom: 0;
}
.experience .name {
  font-weight: 600;
  font-size: 18px;
}
.experience .year {
  font-weight: 300;
  font-size: 14px;
}

/* css for contact */
#contact{
  padding: 2rem 0 5rem;
}
#contact .title{
  font-size: 2rem;
  font-family: 'Arvo', serif;
}
#contact input,
#contact textarea{
  background: #e8edfc;
}
#contact .submit-message{
  color: #fff;
  background: #527cec;
  font-family: 'Arvo', serif;
  margin: 0 15px;
}

/* css for footer */
footer{
  background: #e8edfc;
  padding: 3rem 0 4rem;
}
footer ul{
  list-style: none;
  padding-left: 0;
  font-family: 'Arvo', serif;
}
.back-to-top{
  width: 100%;
  display: block;
  text-align: center;
}
footer ul.social{
  text-align: right;
}
footer ul li.social-link{
  display: inline-block;
}
footer ul li.social-link a{
  margin-left: 1rem;
  font-size: 2rem;
  color: #4d4d4d;
}
footer ul li.social-link a:hover{
  color: #527cec;
}
footer a{
  color: #333;
  font-family: 'Arvo', serif;
}
footer a:hover{
  text-decoration: underline;
  color: #527cec;
}
footer p{
  color: #333;
  text-align: right;
  font-family: 'Arvo', serif;
}
@media (max-width: 767.98px) {footer, footer ul.social, footer p{text-align: center !important;}}
